RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?_route=$1
#RewriteRule ^index.php$ new_index.php [R,NC,L]
#RewriteRule ^([A-Za-z0-9-]+)/?$ index.php?name=$1 [L]
